<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.tud.inf.st.mbt.core.presentation.CoreEditor"
            contributorClass="org.tud.inf.st.mbt.core.presentation.CoreActionBarContributor"
            extensions="core,model,generic,test,report,data"
            icon="icons/mate16.png"
            id="org.tud.inf.st.mbt.core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label">
      </editor>
   </extension>




























null
null
null


null
null
null


null
null
null


null
null
null


null
null
null


null
null
null


null
null
null

























null
null
null


null
null
null


null
null
null


null
null
null












</plugin>
