<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>




























null
null
null


null
null
null


null
null
null


null
null
null


null
null
null


null
null
null


null
null
null   <extension point="org.eclipse.ui.editors">
      <!-- @generated all -->
      <editor
            id="org.tud.inf.st.mbt.core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/mate16.png"
            extensions="core,generic,test,report,model,ecore,suite,data"
            class="org.tud.inf.st.mbt.core.presentation.CoreEditor"
            contributorClass="org.tud.inf.st.mbt.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>


null
null
null


null
null
null


null
null
null


null
null
null</plugin>
