<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.tud.inf.st.mbt.category"
            name="Model Based Testing">
      </category>
      <view
            category="org.tud.inf.st.mbt.category"
            class="org.tud.inf.st.mbt.emf.ui.views.StatisticsView"
            icon="icons/mate16.png"
            id="org.tud.inf.st.mbt.ui.views.statistics"
            name="Test Statistics View"
            restorable="true">
      </view>
   </extension>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.tud.inf.st.mbt.emf.ui.MATENature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/project.png"
            id="org.tud.inf.st.mbt.ui.mateNatureImage"
            natureId="org.tud.inf.st.mbt.ui.nature">
      </image>
   </extension>
   <extension
         id="MATE"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="MATE">
         <property
               name="appName"
               value="MATE">
         </property>
         <property
               name="aboutImage"
               value="icons/mate_full.png">
         </property>
         <property
               name="aboutText"
               value="This is the Mobile Application Test Environment by Georg Püschel (georg.pueschel@googlemail.com)">
         </property>
         <property
               name="windowImages"
               value="icons/mate16.png,icons/mate32.png,icons/mate48.png,icons/mate128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="25,252,510,20">
         </property>
         <property
               name="startupProgressRect"
               value="25,275,510,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.ui.workbench/LegacyIDE.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.tud.inf.st.mbt.ui/css/default.css">
         </property>
         <property
               name="cssTheme"
               value="org.tud.inf.st.mbt.ui.theme">
         </property>
         <property
				name="applicationCSSResources"
          value="platform:/plugin/org.eclipse.platform/images/">
		  </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.tud.inf.st.mbt.ui.matecategory"
            name="MATE">
      </category>
      <wizard
            category="org.tud.inf.st.mbt.ui.matecategory"
            class="org.tud.inf.st.mbt.emf.ui.wizards.NewMATEProjectWizard"
            icon="icons/mate16.png"
            id="org.tud.inf.st.mbt.ui.NewMATEProjectWizard"
            name="MATE Project"
            project="true">
      </wizard>
      <primaryWizard
            id="org.tud.inf.st.mbt.ui.NewMATEProjectWizard">
      </primaryWizard>
      <wizard
            category="org.tud.inf.st.mbt.ui.matecategory"
            class="org.tud.inf.st.mbt.emf.ui.wizards.NewGenericWizard"
            descriptionImage="icons/mate16.png"
            icon="icons/mate16.png"
            id="org.tud.inf.st.mbt.ui.wizards.generic"
            name="Generic model container"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="org.tud.inf.st.mbt.ui.theme"
            label="MATE">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.tud.inf.st.mbt.ui.validatecontrib"
            nameFilter="*.*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.tud.inf.st.mbt.emf.ui.actions.ValidateAction"
               icon="icons/mate16.png"
               id="org.tud.inf.st.mbt.ui.validateaction"
               label="Validate..."
               menubarPath="group.generate">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.tud.inf.st.mbt.ui.postproccontrib"
            nameFilter="*.*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.tud.inf.st.mbt.emf.ui.actions.PostProcessAction"
               icon="icons/mate16.png"
               id="org.tud.inf.st.mbt.ui.validateaction"
               label="Post Process..."
               menubarPath="group.generate">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.tud.inf.st.mbt.ui.statisticscontrib"
            nameFilter="*.*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.tud.inf.st.mbt.emf.ui.actions.ShowStatisticsAction"
               icon="icons/mate16.png"
               id="org.tud.inf.st.mbt.ui.actions.statistics"
               label="Show test statistics..."
               menubarPath="group.generate">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.tud.inf.st.mbt.ui.testcontrib"
            nameFilter="*.*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.tud.inf.st.mbt.emf.ui.actions.RunTestAction"
               icon="icons/mate16.png"
               id="org.tud.inf.st.mbt.ui.actions.test"
               label="Test/Replay tests..."
               menubarPath="group.generate">
         </action>
      </objectContribution>
   </extension>

</plugin>
